# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
ENV/

# Project specific ignores
scripts/.local/

# Environment variables and secrets
.env
.venv
*.log

# Secret files
*.pem
*.key
*.crt
client_secrets.json